.ingredient {
  background-color: lightcoral;
  width: 150px;
  padding: 10px;
  margin: 10px;
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
}

.submit {
  padding: 5px 10px;
  background-color: lightgreen;

  &[disabled] {
    background-color: lightgray;
  }
}
